<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steampunk Project</title>
    <link rel="shortcut icon" href="../imgs/cyber-eye.png" type="image/x-icon" id="favicon">
    <link rel="stylesheet" href="../styles/cyberpunk.css">

    <script src="../scripts/cyberpunk.js"></script>

</head>
<body>

    <div class="divine-left-gate"></div>
    <div class="divine-right-gate"></div>


    <div class="tela-branca top-0"></div>
    
    <div class="background-cyberpunk"></div>
    <div class="cyberpunk-container invisible">
        <div class="icone-return invisible"></div>

        <div class="cyberbox-1"></div>
        <div class="cyberbox-2"></div>
    </div>

</body>
</html>