<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steampunk Project</title>
    <link rel="shortcut icon" href="../imgs/icon-gear-1.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/home.css">

    <script src="../scripts/home.js"></script>

</head>
<body>
    <div class="background">
        <div class="gears-1"></div>
        <div class="gear-2"></div>
        <div class="gear-3"></div>
        <div class="smoke-1"></div>
        <div class="smoke-gif"></div>

        <container class="container">
            <div class="container-box">

                <div class="main-box"></div>
            </div>
        </container>
    </div>
</body>
</html>