<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steampunk Project</title>
    <link rel="shortcut icon" href="../imgs/icon-gear-1.ico" type="image/x-icon" id="favicon">
    <link rel="stylesheet" href="../styles/home.css">

    <script src="../scripts/home.js"></script>

</head>
<body>

    <div class="background-steampunk">
        <div class="gears-1"></div>
        <div class="gear-2"></div>
        <div class="gear-3"></div>
        <div class="smoke-1"></div>
        <div class="smoke-gif"></div>
        <div class="smoke-gif-2"></div>

        <container class="container">
            <div class="container-box">
                <div class="main-box">
                    <div class="download-link-box">
                        <a class="download-link" href="https://drive.google.com/uc?export=download&id=1z4mcvVByrgS3JbuJK04iu_T2e5ZfbuOo" download>Baixar o Joguinho</a>
                    </div>
                </div>
            </div>
        </container>

        <div class="cyber-style"></div>
    </div>

    <div class="divine-left-gate"></div>
    <div class="divine-right-gate"></div>

    <div class="tela-branca top-0"></div>

</body>
</html>