/* @import url('https://fonts.googleapis.com Alguma fonte'); */

:root {

    --primary-color: #622F7A;
    --secondary-color: #5C2C72;
    --tertiary-color: #49235A;

    --glass-color: #8b4f009a;
    --navbar-color: #6b3000ee;
    --dark-brown: #5f2b00fd;


}

/* Global css variables -------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url('../imgs/steampunk-wallpaper-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main-box {
    width: 60%;
    height: 70%;
    background: var(--glass-color);
    border: 3px dotted var(--navbar-color);
}

/* ----------------------------------------------------------------------- */
/* Gears */
.gear-2 {
    width: 550px;
    height: 550px;
    background-image: url('../imgs/gear-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(150%);

    position: absolute;
    top: -10%;
    left: -5%;
    animation: rotate-gear 60s linear infinite;
}

.gear-3 {
    width: 250px;
    height: 250px;
    background-image: url('../imgs/gear-3.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(150%);

    position: absolute;
    bottom: -5%;
    right: -3%;
    animation: rotate-gear 60s linear infinite reverse;
}

.gears-1 {
    width: 600px;
    height: 600px;
    background-image: url('../imgs/gears-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(150%);
    transform: rotate(-45deg);

    position: absolute;
    bottom: -8%;
    left: -10%;
}

.smoke-gif {
    width: 600px;
    height: 600px;
    background-image: url('../imgs/smoke-effect.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(150%);
    transform: rotate(-45deg);

    position: absolute;
    bottom: -10%;
    left: -10%;
}

.smoke-1 {
    width: 600px;
    height: 600px;
    background-image: url('../imgs/steam-smoke.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(150%);
    transform: rotate(90deg);

    position: absolute;
    top: -30%;
    right: -10%;
}



/* ----------------------------------------------------------------------- */
/* Keyframes */
@keyframes rotate-gear {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}