/* @import url('https://fonts.googleapis.com Alguma fonte'); */

:root {

    --primary-color: #622F7A;
    --secondary-color: #5C2C72;
    --tertiary-color: #49235A;

    --glass-color: #8b4f009a;
    --navbar-color: #6b3000ee;
    --dark-brown: #5f2b00fd;
    
    --tube-color: #d37c0a9a;
    --tube-border-color: #4e2300ee;

}

/* Global css variables -------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow: hidden;
}

.background-steampunk {
    width: 100%;
    height: 100%;
    background-image: url('../imgs/steampunk-wallpaper-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.main-box {
    width: 60%;
    height: 70%;
    display: flex;
    background: var(--glass-color);
    border: 3px dotted var(--navbar-color);
    justify-content: center;
    align-items: center;
}

.download-link-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 10%;
}


.download-link {
    color: black;
    font-size: 24px;
    padding: 15px 45px;
    text-decoration: none;
    background: var(--tube-color);
    border: 3px solid var(--tube-border-color);
    border-radius: 50px;
}

.download-link:hover {
    filter: brightness(1.5);
}


/* ----------------------------------------------------------------------- */
/* Divines Gates */

.divine-left-gate {
    z-index: 999;
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    transition: 1s;
    /* background-image: url('../imgs/divine-left-gate.gif'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.divine-right-gate {
    z-index: 999;
    position: absolute;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100%;
    transition: 1s;
    /* background-image: url('../imgs/divine-right-gate.gif'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}


/* ----------------------------------------------------------------------- */
/* Gears */
.gear-2 {
    width: 550px;
    height: 550px;
    background-image: url('../imgs/gear-2.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(150%);

    position: absolute;
    top: -10%;
    left: -5%;
    animation: rotate-gear 60s linear infinite;
}

.gear-3 {
    width: 250px;
    height: 250px;
    background-image: url('../imgs/gear-3.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(150%);

    position: absolute;
    bottom: -5%;
    right: -3%;
    animation: rotate-gear 60s linear infinite reverse;
}

.gears-1 {
    width: 600px;
    height: 600px;
    background-image: url('../imgs/gears-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(150%);
    transform: rotate(-45deg);

    position: absolute;
    bottom: -8%;
    left: -10%;
}

.smoke-gif {
    width: 600px;
    height: 600px;
    background-image: url('../imgs/smoke-effect.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(150%);
    transform: rotate(-45deg);

    position: absolute;
    bottom: -10%;
    left: -10%;
}

.smoke-gif-2 {
    width: 600px;
    height: 600px;
    background-image: url('../imgs/smoke-effect.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(150%);
    transform: rotate(45deg);

    position: absolute;
    bottom: -8%;
    left: -10%;
}

.smoke-1 {
    width: 600px;
    height: 600px;
    background-image: url('../imgs/steam-smoke.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: contrast(150%);
    transform: rotate(90deg);

    position: absolute;
    top: -30%;
    right: -10%;
}

.invisible {
    opacity: 0;
}

/* ----------------------------------------------------------------------- */
/* Troca para estilo cyberpunk */
.cyber-style {
    display: flex;
    position: absolute;
    top: 2%;
    right: 2%;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-image: url('../imgs/transparent-steampunk-clock-2.png');
    cursor: pointer;
    font-size: 40px;
    border-radius: 50%;
    z-index: 999;
    transition: 1.5s;
    filter: drop-shadow(0 0 10px #c0c0c0) drop-shadow(0 0 20px #c0c0c0) drop-shadow(0 0 40px #c0c0c0);
}

.cyber-style:hover {
    animation: glow 2s infinite alternate;
}



/* ----------------------------------------------------------------------- */
/* Keyframes */
@keyframes rotate-gear {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes glow {
    0% {
        filter: drop-shadow(0 0 10px #00ff00) drop-shadow(0 0 20px #00ff00) drop-shadow(0 0 40px #00ff00);
    }
    25% {
        filter: drop-shadow(0 0 10px #00ffff) drop-shadow(0 0 20px #00ffff) drop-shadow(0 0 40px #00ffff);
    }
    50% {
        filter: drop-shadow(0 0 10px #ff00ff) drop-shadow(0 0 20px #ff00ff) drop-shadow(0 0 40px #ff00ff);
    }
    75% {
        filter: drop-shadow(0 0 10px #ffcc00) drop-shadow(0 0 20px #ffcc00) drop-shadow(0 0 40px #ffcc00);
    }
    100% {
        filter: drop-shadow(0 0 10px #ff0000) drop-shadow(0 0 20px #ff0000) drop-shadow(0 0 40px #ff0000);
    }
}
